<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color='brand'>iService</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type='email'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type='password'></ion-input>
        </ion-item>
       
        <ion-button [routerLink] = "['/tabs']" color='primary' size='full'>Entrar</ion-button>
        <ion-button [routerLink] = "['/registrar']" routerdirection="foward" color='primary' fill='clear' size='full'>Cadastrar</ion-button>
        <ion-button [routerLink] = "['/redefine']" routerdirection="foward" color="primary" fill='clear' size='full'>Esqueci a senha </ion-button>
        
        <!--O botoes de teste-->
        <ion-button [routerLink] = "['/tab2']" routerdirection="foward" color="primary" fill='clear' size='full'>tab2</ion-button>
        <ion-button [routerLink] = "['/tab3']" routerdirection="foward" color='primary' fill='clear' size='full'>tab3</ion-button>
        <ion-button [routerLink] = "['/chat']" routerdirection="foward" color='primary' fill='clear' size='full'>Chat</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>