<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Oferecer Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>Selecione a categoria do seu serviço</ion-card-subtitle>
        </ion-card-header>

        <ion-list>
          <ion-radio-group value="biff" [(ngModel)]="marcacaoRadio">

            <ion-item *ngFor="let item of servicos; let indice=index"> 
              <ion-label> {{item}} </ion-label>
                <ion-radio value={{item}} slot="start"></ion-radio>
            </ion-item>

        </ion-radio-group>
      </ion-list>

    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Faça uma descrição do seu serviço aqui" [(ngModel)]="inputTexto"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>Adicione seu portifolio aqui</ion-card-subtitle>
      </ion-card-header>
      <ion-button>
        <ion-icon name="attach-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button size="large" expand="block" (click)="presentAlert()" (click)="limpar()" (click)="addServicos()">Publicar</ion-button>
</ion-content>
