<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Oferecer Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-content>
        <ion-card-header>
          <ion-card-title>Informe o tipo de serviço a ser oferecido</ion-card-title>
          <ion-input [(ngModel)]="inputTexto"></ion-input>
        </ion-card-header>

        <!--<ion-list>
          <ion-radio-group value="biff" [(ngModel)]="marcacaoRadio">

           <<ion-item *ngFor="let valor of dadosService; let indice=index"> 
              <ion-label> {{valor}} </ion-label>
                <ion-radio value={{valor}} slot="start"></ion-radio>
            </ion-item>

        </ion-radio-group>
      </ion-list>-->

    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Faça uma descrição do seu serviço aqui" [(ngModel)]="inputDesc"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>Adicione seu portifolio aqui</ion-card-subtitle>
      </ion-card-header>
      <ion-button>
        <ion-icon name="attach-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button size="large" expand="block" (click)="presentAlert()" (click)="limpar()" (click)="add()">Publicar</ion-button>
</ion-content>
