<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>
    <a href="src\app\explore-container">explore-container</a>
    <a href="src\app\loading-page">loading-page</a>
    <a href="src\app\login">login</a>
    <a href="src\app\registrar">registrar</a>
  </p>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
