.img-perfil {
    border-radius : 50%
}

.estrela {
    font-size : 1.8em
}

#titulo-cliente {
    padding-top : 2em;
    padding-bottom : 2em;
}

.espaco {
    padding-top : 0.5em;
    padding-bottom : 0.5em;
}

.cliente {
    padding-left: 1em;
    font-size : 1.2em;
}

#seu-nome {
    
}