<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>
    <a href="..\explore-container\explore-container.component.html">explore-container</a><br>
    <a href="..\loading-page\loading-page.page.html">loading-page</a><br>
    <a href="..\login\login.page.html">login</a><br>
    <a href="..\app\registrar\registrar.page.html">registrar</a><br>
  </p>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
